.btn-default {
    background-color: #29363B !important;
    color: white;
}

.bg-dark{
    color: #29363B;
}



.boja-okolo {
    color: #29363B;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
